* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;;
}

.borda {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cano {
    position: absolute;
    bottom: 95px;
    width: 80px;
    animation: cano-animation 1.5s infinite linear;
}



.score {
    position: absolute;
    top: 30px;
    left: auto;
    font-size: large;
    font-family: Papyrus;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 95px;
}

.pulo {
    animation: pulo 500ms ease-out;
}

.nuvem {
    position: absolute;
    width: 550px;
    animation: nuvem-animation 20s infinite linear;
}

@keyframes cano-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%
    }
}

@keyframes pulo {

    0% {
        bottom: 95px;
    }

    40% {
        bottom: 275px;
    }

    50% {
        bottom: 275px;
    }

    60% {
        bottom: 275px;
    }

    100% {
        bottom: 95px;
    }

}

@keyframes nuvem-animation {
    from {
        right: -500px;
    }

    to {
        right: 100%;
    }
}

/* @keyframes voador-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%
    }
} */
